/* General styling */
:root {
    --theme-color: #8A0BD8;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}


html,
body {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}

a {
    text-decoration: none !important;
    transition: color 200ms !important;
}

.markdown-section a {
    color: #8A0BD8 !important;
    font-weight: 500 !important;
}

a:link,
a:visited {
    color: #4C0677;
}

a:hover,
.markdown-section a:hover,
.sidebar a:hover {
    color: #610F9B !important;
    font-weight: 500;
}

a:active {
    color: #4C0677;
}

thead {
    color: #4C0677;
}

.anchor {
    color: #4C0677;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
    font-weight: 500 !important;
}

.markdown-section h1 {
    font-size: 2.25rem;
    line-height: 110%;
    letter-spacing: -0.0675rem;
}

.markdown-section h2 {
    font-size: 1.75rem;
    line-height: 120%;
    letter-spacing: -0.0525rem;
}

.markdown-section h3 {
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.025rem;
}

.cover.show {
    background: #F0F1F5 !important;
}

.img-label {
    padding-top: 12px;
    line-height: 1.6rem;
    word-spacing: 0.05rem
}

details summary>span {
    padding-left: 4px;
}

details>summary::marker {
    color: rgba(0, 0, 0, 0.64);
}

iframe {
    border-radius: 8px
}

/* Sidebar overwrites */

.sidebar {
    background: #F0F1F5 !important;
}

.sidebar .sidebar-nav {
    margin-top: 3rem;
}

.sidebar .sidebar-nav>ul>li {
    margin-bottom: 16px;
}


.sidebar .sidebar-nav ul>li>p,
.sidebar .sidebar-nav ul>li>p>a {
    font-weight: 500 !important;
    color: rgba(0, 0, 0, .96);
    font-size: 18px;
}


.sidebar .sidebar-nav ul p.active,
.sidebar .sidebar-nav ul li.active:not(.folder) a {
    color: #820AD1;
    font-weight: 500;
    border-right: none;
}

.sidebar-nav li,
.sidebar-nav li p {
    position: relative;
    margin: 0;
    cursor: pointer;
}

.sidebar-nav ul:not(.app-sub-sidebar)>li.folder>p::after {
    content: url(images/icons/chevron.svg);
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 12px;
    height: 24px;
    width: 24px;
    transform: rotate(180deg);
    transition: ease-in transform .2s
}

.sidebar-nav ul:not(.app-sub-sidebar)>li.open>p::after {
    transform: rotate(0deg)
}

.sidebar-nav ul:not(.app-sub-sidebar)>li.collapse>p::after {
    transform: rotate(180deg)
}

.sidebar .app-name img {
    width: 72px;
    display: block;
    margin-left: 1rem;
}

/* Overview page styles */


.flex {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}


.steps-container.flex {
    gap: 24px;
    justify-content: space-between;
    align-items: stretch;
}

.flow-container {
    gap: 24px;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #B8B8B8;
}

.flow-step {
    flex-grow: 1;
    flex-basis: 0;
}

.flow-step img {
    width: 75%;
}

.steps-group {
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #ddd;
    flex: 1;
}

.steps-group h3 {
    margin: 0;
    margin-bottom: 16px;
}

.steps-group ul li {
    margin-bottom: 8px;
}


@media screen and (max-width: 1024px) {

    .flex {
        flex-direction: column;
    }

    .steps-group,
    .flow-step {
        flex-grow: 0;
        flex-basis: 100%;
    }
}


.flow-step p {
    padding: 0 16px;
    margin: 0;
}

.external-link a::after,
a.external-link::after {
    content: url('images/icons/arrow_up_right.svg');
    color: var(--theme-color);
    fill: var(--theme-color);
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    margin-left: 4px;
}

/* Page style overwrite */

.markdown-section blockquote {
    border-left: 3px solid var(--theme-color);
    color: #000000f5;
    margin: 2em 0;
    padding-left: 16px;
    font-size: 14px;
    background-color: #f2f2f2;
    padding-top: 8px;
    padding-bottom: 8px;

}

.markdown-section blockquote strong {
    color: rgba(0, 0, 0, 64%);
    display: block;
    margin-bottom: 8px;

}

.markdown-section blockquote p {
    font-weight: 200;

}

.markdown-section pre {
    background-color: #212121;
    border-radius: 8px;
}

.markdown-section pre>code {
    background-color: #212121;
    color: rgba(255, 255, 255, 0.805);
    max-height: 400px;
    overflow-y: scroll;
}

.markdown-section td,
.markdown-section th {
    border: none;
    border-bottom: 1px solid #ddd;
    min-width: 140px;
}

.markdown-section table>thead th {
    font-weight: 500;
    color: #111;
}

/* Experience page styles */
.scenarios-list details {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.scenarios-list summary {
    cursor: pointer;
    padding: 0.5rem 0;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01rem;
    font-size: 1.125rem;
}

.scenarios-list details .summary-content {
    padding-left: 1rem;
    line-height: 150%;
    letter-spacing: -0.01rem;
}

.experience-steps {
    justify-content: space-evenly;
    gap: 48px;
}

.experience-steps div {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-items: center;
}

.experience-steps div>img {
    width: 100%;
    max-width: 320px;
    display: block;
}

.experience-steps-list {
    margin-top: 24px;
}

.experience-steps-list .experience-item {
    display: flex;
    gap: 12px;
    align-items: start;
    margin-bottom: 24px;
    line-height: 150%;
    letter-spacing: -0.01rem;
}

.experience-steps-list .experience-item .item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 100%;
}

.flex.single-image {
    justify-content: center;
}

.flex.single-image img {
    width: 320px;
}